<div class="card">
  <h5 class="card-header">No Records</h5>
  <div class="card-body">
	  
	  <h2>There are no records for your criteria.</h2>
<br>
<h3>Feel free to go back and try again.</h3>
<hr>
<input type="button" class="btn btn-primary btn-lg" value="Go Back" onclick="window.history.back()" /> 
	  
	</div>
</div>